<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to "Online_Visit", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><%#= link_to "トップへ", root_path %></li>-->
        <%# if logged_in? %>
           <%# <li></li> %>
          <%# end %>
          
          <%# <li class="dropdown"> %>
            <%# <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              マイページ <b class="caret"></b>
            </a> %>
            <%# <ul class="dropdown-menu"> %>
              <%# <li>マイページ</li> %>
              <%# <li>編集</li> %>
              <%# <li>ログアウト</li> %>
            <%# </ul> %>
          <%# </li> %>
          
        <%# else %>
          <!--<li><%#= link_to "ログイン", login_path %></li>-->
        <%# end %>
      </ul>
    </nav>
  </div>
</header>
